body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*, *:before, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#information {
  display: none;
  color: black;
  background-color: black;
  opacity: 0;
}

.container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 100;
  position: absolute;
}

.container-button .portfolio-button {
  height: 200vh;
  width: 150px;
}

.container-button .portfolio-button a {
  position: sticky;
  -webkit-position: -webkit-sticky;
  top: 0;
  border: 1px solid rgba(207, 206, 206, 0.76);
  padding: 0.5rem;
  background: none;
  border-radius: 8px;
  font-size: 1.1em;
  -webkit-transition: .9s;
  transition: .9s;
  text-decoration: none;
  font-family: ff-meta-web-pro, sans-serif;
  color: rgba(207, 206, 206, 0.76);
  letter-spacing: 0.1em;
}

.container-button .portfolio-button a:hover {
  -webkit-box-shadow: 0 10px 100px -20px white;
          box-shadow: 0 10px 100px -20px white;
}

@media only screen and (min-width: 769px) {
  .cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  .cover .display {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 45vw;
    padding-right: 50px;
    margin-right: 40px;
  }
  .cover .display h1 {
    font-family: timberline, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin-top: 2em;
    font-size: 5em;
    line-height: 1em;
    letter-spacing: .04em;
  }
  .cover .display h2 {
    text-align: left;
    line-height: 1em;
    font-size: 2em;
    letter-spacing: .03em;
    font-family: ff-meta-web-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .cover .display h3 {
    text-align: right;
    line-height: 3em;
    font-size: 1.5em;
    letter-spacing: .04em;
    font-family: ff-meta-correspondence-web-p, sans-serif;
    font-weight: 400;
    font-style: oblique;
  }
  .social-platform {
    padding: 2em;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 7%;
  }
  .social-platform .block {
    z-index: -2;
    position: absolute;
    background-color: rgba(105, 0, 0, 0.623);
    height: 95vh;
    width: 70vw;
    left: -20vw;
  }
  .social-platform .platform-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 6%;
    width: 35vw;
  }
  .social-platform .platform-text h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.5em;
    text-align: left;
  }
  .social-platform .platform-text p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.5em;
    color: #e6dfdf;
    text-align: left;
  }
  .social-platform .platform-text p strong {
    font-size: 1.1em;
    font-weight: 600;
    color: white;
  }
  .preview-platform {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10%;
  }
  .preview-platform .text {
    height: 50vh;
  }
  .preview-platform .text h1 {
    width: 40vw;
    font-size: 3vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .preview-platform .text h2 {
    width: 40vw;
    font-size: 1.8vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ececec;
  }
  .preview-platform .viewport {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50vw;
    height: 80vh;
  }
  .preview-platform iframe {
    width: 46vw;
    height: 450px;
    border-radius: 3%;
  }
  .preview-platform button {
    font-size: 0.9em;
    letter-spacing: 0.1em;
    color: white;
    background-color: rgba(139, 0, 0, 0.141);
    cursor: pointer;
    border: 1.5px solid maroon;
    padding: 15px;
    border-radius: 5%;
    margin-left: 50px;
    margin-top: 50px;
  }
  .preview-platform .used {
    width: 100vw;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .preview-platform .used h1 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #929292;
    font-weight: 900;
  }
  .preview-platform .used p {
    font-size: 0.9em;
    letter-spacing: 0.08em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #b6b6b6;
  }
  .angles {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .bg-bc {
    z-index: -1;
    width: 100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .angles {
    top: 90%;
    height: 30%;
    position: absolute;
    z-index: 20;
  }
  .textbox-intro h3 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #d6d6d6;
    font-style: oblique;
    font-weight: 700;
    font-size: 1.1em;
    padding-right: 50px;
    -webkit-animation: rotateWord 18s ease-in-out infinite 0s;
    animation: rotateWord 18s ease-in-out infinite 0s;
  }
  .textbox-intro h3 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  .textbox-intro h3 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
  }
  .textbox-intro h3 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
  }
  .textbox-intro h3 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
  }
  @-webkit-keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .aboutme-page {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    margin-top: 10%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutme-page .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2em;
    width: 45vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .aboutme-page .about-text h1 {
    font-family: Impact;
    font-size: 4em;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  .aboutme-page .about-text h2 {
    font-size: 2.5em;
    letter-spacing: 0.2em;
    color: #c5c5c5;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .aboutme-page .about-text p {
    font-size: 1.1em;
    letter-spacing: 0.05em;
    line-height: 2em;
    color: #afafaf;
    font-family: sans-serif;
  }
  .aboutme-page .me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2%;
    width: 50vw;
  }
  .aboutme-page .me img {
    width: 18vw;
    border-radius: 12%;
  }
  .aboutme-page .me p {
    font-size: 1vw;
    letter-spacing: 0.05em;
    font-family: sans-serif;
    color: #777777;
  }
  .aboutme-page .opacity {
    opacity: 0;
  }
  .brief {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-top: 10%;
  }
  .brief h1 {
    font-size: 5vw;
    letter-spacing: 0.04em;
    font-family: sans-serif;
    margin-left: 3%;
  }
  .brief h3 {
    font-size: 2.5vw;
    line-height: 6vh;
    letter-spacing: 0.05em;
    margin-right: 6%;
    margin-left: 6%;
    color: #c9c9c9;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .brief h2 {
    font-size: 4em;
    letter-spacing: 0.1em;
    font-family: impact;
    font-weight: bold;
    text-align: center;
    color: #1b1b1b;
  }
  .brief .methods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100vw;
  }
  .brief .methods p {
    font-size: 1em;
    letter-spacing: 0.08em;
    font-family: sans-serif;
    color: #5e5e5e;
  }
  .brief .about-softwares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30vh;
    width: 100vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brief .about-softwares h1 {
    font-family: Impact;
    font-size: 4em;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #1b1b1b;
  }
  .brief .about-softwares .software-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .brief .about-softwares .software-list p {
    font-family: sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: #5e5e5e;
  }
  .design-strategy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 160vh;
    margin-top: 10%;
  }
  .design-strategy h1 {
    font-size: 5vw;
    letter-spacing: 0.04em;
    font-family: sans-serif;
    margin-left: 3%;
  }
  .design-strategy p {
    font-size: 1.1em;
    line-height: 2em;
    letter-spacing: 0.05em;
    margin-right: 6%;
    margin-left: 6%;
    color: #c9c9c9;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .hatfieldrm {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10%;
  }
  .hatfieldrm h1 {
    margin-left: 5%;
    text-align: left;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2vw;
    line-height: 1.5em;
    width: 30vw;
    margin-top: 4%;
    color: white;
  }
  .hatfieldrm .desktopview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hatfieldrm img {
    width: 50vw;
    border-radius: 20%;
  }
  .hatfieldrm p {
    font-size: 1.2vw;
    letter-spacing: 0.08em;
    margin-top: 3%;
    font-family: sans-serif;
    text-align: center;
    color: #b6b6b6;
  }
  .hrm {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10%;
  }
  .hrm .rh-logo {
    width: 50vw;
    height: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hrm .rh-logo img {
    width: 20vw;
    border-radius: 0;
  }
  .hrm .style-text {
    width: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hrm .style-text h1 {
    font-family: Impact;
    font-size: 4em;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #1b1b1b;
  }
  .hrm .style-text h2 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 0.6em;
    letter-spacing: 0.5em;
    color: #818181;
  }
  .hrm .style-text p {
    font-family: sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    line-height: 3em;
  }
  .analytics {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10%;
  }
  .analytics .display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .analytics .display h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.08em;
    color: #4e4e4e;
    font-weight: 800;
  }
  .analytics .display h2 {
    font-family: sans-serif;
    text-transform: lowercase;
    font-size: 1.5em;
    letter-spacing: 0.08em;
    color: #414040;
  }
  .analytics .analysis {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 10%;
  }
  .analytics .analysis .lightboxes {
    width: 45vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .analytics .analysis .lightboxes .lightbox {
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 25%;
    z-index: -2;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  .analytics .analysis .lightboxes .lightbox.showLightbox {
    opacity: 1;
    z-index: 2;
  }
  .analytics .analysis .lightboxes .lightbox img {
    width: 50vw;
    height: auto;
    border-radius: 3%;
  }
  .analytics .analysis .lightboxes .lightbox a {
    background-color: transparent;
  }
  .analytics .analysis .lightboxes img {
    width: 18vw;
    margin: 2%;
    border-radius: 4%;
  }
  .analytics .analysis .info {
    width: 45vw;
  }
  .analytics .analysis .info p {
    font-family: sans-serif;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 2em;
  }
  .process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-top: 10%;
  }
  .process .col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 95vh;
  }
  .process .col1 p {
    font-size: 1.2vw;
    letter-spacing: 0.05em;
    line-height: 2em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 40vw;
    margin-right: 3%;
    margin-left: 3%;
  }
  .process .col1 img {
    width: 40vw;
    border-radius: 8%;
  }
  .process .layout {
    width: 50vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .process .layout img {
    width: 18vw;
  }
  .preview-hatfieldrm {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10%;
  }
  .preview-hatfieldrm .text {
    height: 50vh;
  }
  .preview-hatfieldrm .text h1 {
    width: 40vw;
    font-size: 3vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .preview-hatfieldrm .text h2 {
    width: 40vw;
    font-size: 1.8vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ececec;
  }
  .preview-hatfieldrm .viewport2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50vw;
    height: 80vh;
  }
  .preview-hatfieldrm iframe {
    width: 46vw;
    height: 450px;
    border-radius: 3%;
  }
  .preview-hatfieldrm button {
    font-size: 0.9em;
    letter-spacing: 0.1em;
    color: white;
    background-color: rgba(139, 0, 0, 0.141);
    cursor: pointer;
    border: 1.5px solid maroon;
    padding: 15px;
    border-radius: 5%;
    margin-left: 50px;
    margin-top: 50px;
  }
  .preview-hatfieldrm .used2 {
    width: 95vw;
    height: 15vh;
    margin-top: 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .preview-hatfieldrm .used2 h1 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #929292;
    font-weight: 900;
  }
  .preview-hatfieldrm .used2 p {
    font-size: 0.9em;
    letter-spacing: 0.08em;
    line-height: 1.6em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #d8d8d8;
  }
  .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    margin-top: 15%;
  }
  .results .heading {
    width: 65vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .results .heading h1 {
    font-size: 5vw;
    letter-spacing: 0.03em;
    line-height: 1vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .results .heading h2 {
    font-size: 2.8vw;
    line-height: 1vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 100;
  }
  .results #typography {
    width: 15%;
  }
  .results .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20vw;
  }
  .results .media h3 {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 100;
    color: #868686;
  }
  .results .media p {
    font-size: 1.4vw;
    color: #868686;
  }
  .results .providing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 25vw;
    height: 30vh;
  }
  .results .providing h3 {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1vh;
    color: #868686;
  }
  .results .providing p {
    font-size: 1.4vw;
    line-height: 3vh;
    color: #868686;
  }
  .results #online {
    width: 20%;
    border-radius: 8%;
  }
  .results video {
    border: 1px solid rgba(73, 0, 0, 0.651);
    width: 30%;
  }
  .results #colors {
    margin-top: 10%;
    width: 75%;
  }
  .results .icons {
    width: 15vw;
  }
  .results .icons ul li {
    list-style: none;
    list-style-position: outside;
  }
  .results .icons ul li img {
    width: 20%;
  }
  .end {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10%;
  }
  .end h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: sans-serif;
    letter-spacing: 0.18em;
    color: #747474;
  }
  .end p {
    text-align: left;
    font-size: 1.1em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    color: #cfcfcf;
  }
  .end .link {
    background: none;
    width: 11%;
  }
  .end .link button {
    width: 100%;
    background: none;
    border-color: #00000000;
    padding: 1rem;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .end .link button img {
    width: 100%;
    background: none;
  }
  .end .link button:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    cursor: pointer;
  }
  .footnote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-left: 5%;
    margin-top: 10%;
  }
  .footnote h1 {
    font-size: 5vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: impact;
  }
  .footnote h2 {
    font-size: 1.8vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #d8d8d8;
  }
  .footnote p {
    font-size: 1.4vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #cacaca;
  }
  .footnote .link {
    background: none;
    width: 11%;
  }
  .footnote .link button {
    width: 100%;
    background: none;
    border-color: #00000000;
    padding: 1rem;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .footnote .link button img {
    width: 100%;
    background: none;
  }
  .footnote .link button:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    cursor: pointer;
  }
  .footnote .position {
    width: 100vw;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footnote .position h3 {
    font-size: 1.5vw;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.04em;
    color: #c4c4c4;
  }
  .footnote .stay-classy {
    width: 100vw;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footnote .stay-classy img {
    width: 12vw;
  }
}
/*# sourceMappingURL=main.css.map */