@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    color: #ff781e;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  *, *:before, *:before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #information {
    display: none;
    color: white;
    background-color: white;
    opacity: 0;
  }
  h1 {
    text-align: center;
    font-size: 9vw;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    color: #f06000;
  }
  h2 {
    font-size: 5.3vw;
    letter-spacing: 0.04em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ec6d18;
  }
  h3 {
    font-size: 4.5vw;
    letter-spacing: 0.04em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ff7f2a;
    font-weight: bold;
  }
  p {
    font-size: 4vw;
    letter-spacing: 0.04em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #242424;
    font-weight: normal;
  }
  .cover {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cover .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20vw;
    z-index: 100;
    position: absolute;
    top: 8%;
    left: 5%;
  }
  .cover .back button {
    width: 50px;
    height: 50px;
    border: solid 2px #ff7f2a;
    background-color: white;
    border-radius: 50%;
  }
  .cover .back button #previous {
    display: inline-block;
    color: #ff7f2a;
    text-decoration: none;
    font-size: 10vw;
    line-height: 0;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .cover .back button #previous:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #ff7f2a;
    color: white;
    border: none;
  }
  .cover .back button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #ff7f2a;
  }
  .cover .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85vw;
  }
  .cover .intro h1 {
    color: rgba(207, 207, 207, 0.5);
    z-index: -100;
    position: absolute;
    top: 15%;
    font-size: 10vw;
    font-family: cursive;
  }
  .cover .intro h2 {
    color: black;
    font-size: 8vw;
    margin-top: 350px;
    margin-left: 50px;
  }
  .cover .intro h3 {
    font-size: 5vw;
    margin-left: 50px;
  }
  .cover .intro p {
    font-size: 4vw;
    color: #242424;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: normal;
  }
  .cover .intro .contactme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85vw;
    margin-bottom: 50px;
  }
  .cover .intro .contactme button {
    font-weight: bold;
    padding: 15 40 15 40;
    border: solid 2px #ff7f2a;
    border-radius: 15px;
    color: #ff7f2a;
    background-color: white;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .cover .intro .contactme button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #ff7f2a;
    color: white;
    border: none;
  }
  .cover .intro .contactme #myInput {
    color: white;
    background-color: transparent;
    border: none;
    z-index: -100;
    position: absolute;
  }
  .cover #body_profile {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 50vw;
  }
  .cover #blob {
    z-index: -100;
    position: absolute;
    top: 118%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    width: 50vw;
  }
  .project_digitalart {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 530px;
  }
  .project_digitalart #text_warefare {
    width: 85vw;
  }
  .project_digitalart #image_warefare {
    width: 85vw;
  }
  .project_digitalart #image_warefare img {
    width: 85vw;
  }
  .project_fage {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 300px;
  }
  .project_fage #introfage {
    width: 85vw;
  }
  .project_fage #context_fage {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .project_fage #context_fage #text1_fage {
    width: 85vw;
  }
  .project_fage #context_fage #image1_fage {
    width: 85vw;
  }
  .project_fage #context_fage #image1_fage img {
    width: 85vw;
  }
  .project_fage #text2_fage {
    width: 85vw;
  }
  .project_fage #image2_fage {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project_fage #image2_fage img {
    width: 85vw;
  }
  .project_fage #clicktopresentation {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project_fage #clicktopresentation img {
    width: 75vw;
    border: solid 1px #ff7f2a;
    border-radius: 5px;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .project_fage #clicktopresentation img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
  .project_logo {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .project_logo #text1_logo {
    width: 85vw;
  }
  .project_logo #textandimages_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project_logo #textandimages_logo #text2_logo {
    width: 85vw;
  }
  .project_logo #textandimages_logo #images_logo {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .project_logo #textandimages_logo #images_logo img {
    width: 42vw;
  }
  .project_logo #textandimages2_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project_logo #textandimages2_logo #image1_logo {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project_logo #textandimages2_logo #image1_logo img {
    width: 50vw;
  }
  .project_logo #textandimages2_logo #text3_logo {
    width: 85vw;
  }
  .project_logo #mockimage_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .project_logo #mockimage_logo img {
    width: 90vw;
  }
  .project_beer {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .project_beer #text1_beer {
    width: 85vw;
  }
  .project_beer #text2_beer {
    width: 85vw;
  }
  .project_beer #text2_beer #quote {
    text-align: center;
    font-size: 4.2vw;
    color: #1515e4;
  }
  .project_beer #images1_beer {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project_beer #images1_beer img {
    width: 30vw;
  }
  .project_beer #images2_beer {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project_beer #images2_beer img {
    width: 42vw;
  }
  .project_beer #beerprototype {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project_beer #beerprototype img {
    width: 90vw;
  }
  .year_project {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .year_project #project_2021 {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .year_project #project_2021 img {
    width: 75vw;
  }
  .end {
    width: 85vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10%;
    text-align: center;
  }
  .end .link {
    background: none;
    width: 11%;
  }
  .end .link button {
    font-weight: bold;
    padding: 15 40 15 40;
    border: solid 2px #ff7f2a;
    border-radius: 15px;
    color: #ff7f2a;
    background-color: white;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .end .link button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #ff7f2a;
    color: white;
    border: none;
  }
  .end .download-resume {
    background: none;
    width: 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .end .download-resume button {
    font-weight: bold;
    padding: 15 40 15 40;
    border: solid 2px #ff7f2a;
    border-radius: 15px;
    color: #ff7f2a;
    background-color: white;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .end .download-resume button a {
    text-decoration: none;
    color: #ff7f2a;
  }
  .end .download-resume button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #ff7f2a;
    color: white;
    border: none;
  }
  .end .download-resume button a:hover {
    color: white;
  }
  .contactme {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contactme #contactme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75vw;
    margin-top: 100px;
    margin-bottom: 200px;
  }
  .contactme #contactme button {
    font-weight: bold;
    padding: 15 40 15 40;
    border: solid 2px #ff7f2a;
    border-radius: 15px;
    color: #ff7f2a;
    background-color: white;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .contactme #contactme button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #ff7f2a;
    color: white;
    border: none;
  }
  .contactme #contactme #myInput {
    color: white;
    background-color: transparent;
    border: none;
    z-index: -100;
    position: absolute;
  }
  .footnote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-left: 5%;
    margin-top: 10%;
  }
  .footnote .link {
    background: none;
    width: 11%;
  }
  .footnote .link button {
    width: 100%;
    background: none;
    border-color: #00000000;
    padding: 1rem;
    -webkit-transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .footnote .link button img {
    width: 100%;
    background: none;
  }
  .footnote .link button:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    cursor: pointer;
  }
  .footnote .position {
    width: 100vw;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footnote .position h3 {
    font-size: 1.5vw;
    font-weight: 100;
    letter-spacing: 0.04em;
  }
  .footnote .stay-classy {
    width: 100vw;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footnote .stay-classy img {
    width: 12vw;
  }
}
/*# sourceMappingURL=main_graphicmobile.css.map */