body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*, *:before, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.cover .display {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  padding-left: 50px;
}

.cover .display h1 {
  font-family: timberline, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin-top: 2em;
  font-size: 5em;
  line-height: 1em;
  letter-spacing: .04em;
}

.cover .display h2 {
  text-align: left;
  line-height: 1em;
  font-size: 2em;
  letter-spacing: .03em;
  font-family: ff-meta-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cover .display h3 {
  text-align: left;
  line-height: 2em;
  font-size: 1.2em;
  letter-spacing: .04em;
  font-family: ff-meta-correspondence-web-p, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cover .photograph {
  height: 100vh;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cover .photograph img {
  width: 20vw;
}

.container {
  padding: 2em;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .platform-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
  margin-top: 5%;
}

.container .platform-text h2 {
  line-height: 1.5em;
  text-align: left;
}

.container .platform-text p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 1.5em;
  color: #e6dfdf;
  text-align: left;
}

.container .platform-text p strong {
  font-size: 1.1em;
  font-weight: 600;
  color: white;
}

.container .preview-platform {
  width: 100%;
  display: block;
  position: relative;
  top: 10%;
  left: 1%;
}

.container .preview-platform iframe {
  width: 550px;
  height: 450px;
  border-radius: 3%;
}

.container .preview-platform button {
  color: white;
  background-color: rgba(139, 0, 0, 0.082);
  cursor: pointer;
  border: 1px solid maroon;
  padding: 15px;
  border-radius: 5%;
  margin-left: 50px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

.logo img {
  width: 3%;
}

h2 {
  color: white;
  font-size: 3.5em;
  margin: 0;
  font-weight: normal;
  line-height: 1em;
}

.subtext {
  margin-top: 0;
  font-size: 1.4em;
  line-height: 1em;
  text-transform: uppercase;
  color: white;
}

.secondary {
  margin-top: 25em;
}

.angles {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.bg-bc {
  z-index: -1;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.angles {
  top: 90%;
  height: 30%;
}

.autumn {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 90%;
  opacity: 0.4;
}
/*# sourceMappingURL=main.css.map */