body {
    margin: 0;
    padding:0;
    width:100vw;
    height: 100vh;
    background:black;
    color:white;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

*, *:before, *:before {
    box-sizing: border-box;
}

#information {
    display:none;
    color:black;
    background-color:black;
    opacity:0;
}

@media only screen and (min-width: 769px) {
.cover {
    display:flex;
    height:100vh;
    width:100vw;

    .display {
        height: 100vh;
        display:flex;
        flex-direction:column;
        align-items: flex-end;
        width:45vw;
        padding-right:50px;
        margin-right:40px;
        
        h1 {
            font-family: timberline, sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: left;
            margin-top: 2em;
            font-size: 5em;
            line-height: 1em;
            letter-spacing: .04em;
        }

        h2 {
            text-align:left;
            line-height:1em;
            font-size:2em;
            letter-spacing:.03em;
            font-family: ff-meta-web-pro, sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        h3 {
            text-align:right;
            line-height:3em;
            font-size:1.5em;
            letter-spacing:.04em;
            font-family: ff-meta-correspondence-web-p, sans-serif;
            font-weight: 400;
            font-style: oblique;
        }
    }
    }
.social-platform {
    padding: 2em;
    height: 100vh;
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    margin-right:7%;

    .block {
        z-index:-2;
        position:absolute;
        background-color:rgba(105, 0, 0, 0.623);
        height:95vh;
        width:70vw;
        left:-20vw;
    }

    .platform-text {
        display:flex;
        flex-direction:column;
        margin-left:6%;
        width:35vw;

    h2 {
        font-family: 'M PLUS Rounded 1c', sans-serif;
        line-height:1.5em;
        text-align: left;
    }

    p {
        font-family: 'M PLUS Rounded 1c', sans-serif;
        line-height: 1.5em;
        color: rgb(230, 223, 223);
        text-align: left;
        
        strong {
            font-size:1.1em;
            font-weight: 600;
            color:white;
        }
    }
}
}
.preview-platform {
        width:100vw;
        height:100vh;
        display:flex;
        flex-flow: wrap;
        justify-content: flex-end;
        align-items:center;

            .text {
                height:50vh;

                h1 {
                    width:40vw;
                    font-size:3vw;
                    letter-spacing:0.05em;
                    font-family:'M PLUS Rounded 1c', sans-serif;
                }
    
                h2 {
                    width:40vw;
                    font-size:1.8vw;
                    letter-spacing:0.05em;
                    font-family:'M PLUS Rounded 1c', sans-serif;
                    color:rgb(236, 236, 236);
                }
            }

            .viewport {
                display:flex;
                flex-direction:column;
                justify-content:flex-end;
                align-items: flex-start;
                width:50vw;
                height:80vh;
            }

            iframe {
                width:46vw;
                height:450px;
                border-radius:3%;
            }
            button {
                font-size:0.9em;
                letter-spacing:0.1em;
                color:white;
                background-color: rgba(139, 0, 0, 0.141);
                cursor: pointer;
                border: 1.5px solid maroon;
                padding: 15px;
                border-radius: 5%;
                margin-left: 50px;
                margin-top:50px;
            }
            .used {
                width:100vw;
                height:15vh;
                display:flex;
                flex-direction:column;
                align-items:center;

                h1 {
                    font-size:1.5em;
                    letter-spacing:0.1em;
                    font-family:'M PLUS Rounded 1c', sans-serif;
                    color:rgb(146, 146, 146);
                    font-weight:900;
                }
                p {
                    font-size:0.9em;
                    letter-spacing:0.08em;
                    font-family:'M PLUS Rounded 1c', sans-serif;
                    color:rgb(182, 182, 182);
                }
            }
    }
.angles {
    position:absolute;
    z-index:-1;
    width:100%;
}
.bg-bc {
    z-index:-1;
    width:100%;
    position:absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.angles {
    top:90%;
    height:30%;
}
.autumn {
    z-index:-1;
    position:absolute;
    width: 100%;
    height: 90%;
    opacity:0.4;
}
.textbox-intro h3 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: rgb(214, 214, 214);
    font-style: oblique;
    font-weight: 700;
    font-size:1.1em;
    padding-right:50px;
    -webkit-animation: rotateWord 18s ease-in-out infinite 0s;
    -ms-animation: rotateWord 18s ease-in-out infinite 0s;
    animation: rotateWord 18s ease-in-out infinite 0s;
  }
.textbox-intro h3 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
  }
  
  .textbox-intro h3 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
  }
  
  .textbox-intro h3 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
  }
  
  .textbox-intro h3 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
  }
@-webkit-keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-ms-keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -ms-transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -ms-transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .aboutme-page {
      width:100vw;
      height:100vh;
      display:flex;
      flex-wrap: wrap;

      .about-text {
          display:flex;
          flex-direction:column;
          margin-left:2em;
          height:50vh;
          width:45vw;
          justify-content: flex-start;

          h1 {
              font-family: Impact;
              font-size:4em;
              letter-spacing:0.1em;
              font-weight: bold;
          }

          h2 {
              font-size:2.5em;
              letter-spacing:0.2em;
              color:rgb(197, 197, 197);
              font-family:'M PLUS Rounded 1c', sans-serif;
          }

          p {
              font-size:1.3em;
              letter-spacing:0.05em;
              line-height:2.5em;
              margin-top:8%;
              color:rgb(175, 175, 175);
          }
      }
      .me {
          display:flex;
          flex-direction:column;
          justify-content: flex-end;
          align-items: center;
          margin-left:2%;
          width:50vw;

          img {
              width:18vw;
              border-radius:12%;
          }
          p {
              font-size:1vw;
              letter-spacing:0.05em;
              font-family:sans-serif;
              color:rgb(119, 119, 119);
          }
      }

      .about-softwares {
          display:flex;
          flex-direction:column;
          height:30vh;
          width:100vw;
          justify-content: flex-start;
          align-items: center;

          h1 {
            font-family: Impact;
            font-size:4em;
            letter-spacing:0.1em;
            font-weight: bold;
            color:rgb(27, 27, 27);
          }
          .software-list {
              display:flex;
              flex-direction:row;
              width:100vw;
              justify-content: space-evenly;

              p {
                  font-family: sans-serif;
                  font-size:1em;
                  letter-spacing:0.1em;
                  color:rgb(94, 94, 94);
              }
          }
      }
  }
  .brief {
      display:flex;
      flex-direction:column;
      width:100vw;
      height:100vh;

      h1 {
          font-size:5vw;
          letter-spacing:0.04em;
          font-family: sans-serif;
          margin-left:3%;
      }
      p {
          font-size:3vw;
          letter-spacing:0.05em;
          line-height:7vh;
          margin-right:6%;
          margin-left:6%;
          color:rgb(201, 201, 201);
      }
      .line {
          width:50vw;
          height:0.1vh;
          background-color:rgb(240, 240, 240);
          margin-left:25vw;
          margin-top:20vh;
      }
  }
  .hatfieldrm {
      height:100vh;
      width:100vw;
      display:flex;
      flex-direction:column;
      justify-content: center;
      margin-top:30%;

      h1 {
          margin-left:5%;
          text-align:left;
          font-family: 'M PLUS Rounded 1c', sans-serif;
          font-size:2vw;
          line-height:1.5em;
          width:30vw;
          margin-top:4%;
          color:white;
      }
      .desktopview {
          display:flex;
          width:100vw;
          align-items:center;
          justify-content:center;
      }
        img {
          width:50vw;
          border-radius:20%;
      }
      p {
          font-size:1.2vw;
          letter-spacing:0.08em;
          margin-top:3%;
          font-family:sans-serif;
          text-align:center;
          color:rgb(182, 182, 182);
      }
      }
.hrm {
        height:100vh;
        width:100vw;
        display:flex;
        flex-direction:row;
        margin-top:30%;

        .rh-logo {
            width:50vw;
            height:50vw;
            display:flex;
            align-items:center;
            justify-content: space-evenly;
            flex-direction:column;

          img {
            width:20vw;
            border-radius:0;
        }
      }
      .style-text {
          width:30vw;
          display:flex;
          flex-direction:column;
          align-items:flex-end;

          h1 {
            font-family: Impact;
            font-size:4em;
            letter-spacing:0.1em;
            font-weight: bold;
            color:rgb(27, 27, 27);
          }
          h2 {
            font-family: sans-serif;
            text-transform: uppercase;
            font-size:1em;
            line-height:0.6em;
            letter-spacing:0.5em;
            color:rgb(129, 129, 129);
          }
          p {
              font-family:sans-serif;
              font-size:0.9em;
              letter-spacing:0.2em;
              line-height:3em;
          }
      }
    }
.analytics {
    width:100vw;
    height:100vh;
    display:flex;
    flex-flow: column;
    justify-content: center;

    .display{
        display:flex;
        flex-direction:column;
        align-items: center;

        h1 {
            font-family: sans-serif;
            text-transform: uppercase;
            font-size: 2em;
            letter-spacing:0.08em;
            color:rgb(78, 78, 78);
            font-weight: 800;
        }
        h2 {
            font-family: sans-serif;
            text-transform: lowercase;
            font-size: 1.5em;
            letter-spacing:0.08em;
            color:rgb(65, 64, 64);
        }
    }
    .analysis {
        width:100vw;
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;

        .lightboxes {
            width:45vw;
            display:flex;
            justify-content:space-around;
            align-items:center;
            flex-wrap:wrap;
    
            .lightbox {
                background: rgba(0,0,0,0.8);
                width:100vw;
                height:100vh;
                position:absolute;
                left:25%;
                z-index:-2;
                opacity:0;
                transition:opacity 1s;
            }
            .lightbox.showLightbox {
                opacity:1;
                z-index:2;
            }
            .lightbox img {
                width:50vw;
                height:auto;
                border-radius:3%;
            }
            .lightbox a {
                background-color:transparent;
            }
        
            img {
                width:18vw;
                margin:2%;
                border-radius:4%;
            }
        }
        .info {
            width:45vw;

            p {
                font-family:sans-serif;
              font-size:1em;
              letter-spacing:0.05em;
              line-height:2em;
            }
        }
    }
    }
.process {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;

    .col1 {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: space-between;
        height:95vh;

        p {
            font-size:1.2vw;
            letter-spacing:0.05em;
            line-height:2em;
            font-family:'M PLUS Rounded 1c', sans-serif;
            width:40vw;
            margin-right:3%;
            margin-left:3%;
        }
        img {
            width:40vw;
            border-radius:8%;
        }
    }
    .layout {
        width:50vw;
        height:100vh;
        display:flex;
        justify-content:center;

        img {
            width:18vw;
        }
    }
}
.end {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;

    h1 {
        text-align:center;
        font-size:1.8em;
        font-family:sans-serif;
        letter-spacing:0.18em;
        color:rgb(116, 116, 116);
    }

    p {
        text-align:left;
        font-size:1.1em;
        font-family:sans-serif;
        letter-spacing:0.1em;
        line-height:1.8em;
        color:rgb(207, 207, 207);
    }
}
.footnote {
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
    margin-left:5%;

    h1 {
        font-size:5vw;
        letter-spacing:0.05em;
        text-transform: uppercase;
        font-family:impact;
    }
    h2 {
        font-size:1.8vw;
        letter-spacing:0.05em;
        font-family:'M PLUS Rounded 1c', sans-serif;
        color:rgb(216, 216, 216);
    }
    p {
        font-size:1.4vw;
        letter-spacing:0.05em;
        font-family:'M PLUS Rounded 1c', sans-serif;
        color:rgb(202, 202, 202);
    }

    .link {

        a {
            text-decoration: none;
            font-size:2vw;
            font-family:sans-serif;
            letter-spacing:0.05em;
            color:rgb(185, 0, 0);
        }
    }
}
}