@media only screen and (max-width: 768px) {
  .cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    height: 100vh;
    width: 100vw;
  }
  .cover .display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 85vw;
    height: 100vh;
  }
  .cover .display h1 {
    font-family: timberline, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 10vw;
    line-height: 1em;
    letter-spacing: .04em;
  }
  .cover .display h2 {
    text-align: center;
    line-height: 1em;
    font-size: 5vw;
    letter-spacing: .03em;
    font-family: ff-meta-web-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .cover .display h3 {
    text-align: left;
    line-height: 3em;
    font-size: 4vw;
    letter-spacing: .04em;
    font-family: ff-meta-correspondence-web-p, sans-serif;
    font-weight: 400;
    font-style: oblique;
  }
  .social-platform {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-platform .platform-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85vw;
  }
  .social-platform .platform-text h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 5vw;
    text-align: center;
  }
  .social-platform .platform-text p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 4vw;
    letter-spacing: 0.04em;
    line-height: 1.3em;
    color: #e6dfdf;
    text-align: left;
  }
  .preview-platform {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .preview-platform .text {
    width: 75vw;
  }
  .preview-platform .text h1 {
    width: 75vw;
    margin-top: 5%;
    font-size: 6vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .preview-platform .text h2 {
    width: 40vw;
    font-size: 3vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ececec;
  }
  .preview-platform .viewport {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95vw;
  }
  .preview-platform .viewport iframe {
    display: none;
  }
  .preview-platform .viewport button {
    font-size: 3vw;
    color: white;
    background-color: rgba(139, 0, 0, 0.141);
    cursor: pointer;
    border: 1px solid maroon;
    padding: 8px;
    border-radius: 5%;
    margin-top: 5%;
  }
  .preview-platform .used {
    text-align: center;
    margin-top: 5%;
  }
  .preview-platform .used h1 {
    font-size: 3vw;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #d8d8d8;
    font-weight: 900;
  }
  .preview-platform .used p {
    font-size: 2vw;
    letter-spacing: 0.04em;
    line-height: 1.3em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #dadada;
  }
  .angles {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 90%;
    height: 30%;
  }
  .bg-bc {
    z-index: -1;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .autumn {
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
  }
  .textbox-intro h3 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #d6d6d6;
    font-style: oblique;
    font-weight: 700;
    font-size: 1.1em;
    padding-right: 50px;
    -webkit-animation: rotateWord 18s ease-in-out infinite 0s;
    animation: rotateWord 18s ease-in-out infinite 0s;
  }
  .textbox-intro h3 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  .textbox-intro h3 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
  }
  .textbox-intro h3 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
  }
  .textbox-intro h3 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
  }
  @-webkit-keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .aboutme-page {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutme-page .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutme-page .about-text h1 {
    font-family: Impact;
    font-size: 8vw;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  .aboutme-page .about-text h2 {
    font-size: 5vw;
    letter-spacing: 0.2em;
    color: #e7e7e7;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .aboutme-page .about-text p {
    text-align: center;
    font-size: 3.5vw;
    letter-spacing: 0.05em;
    line-height: 2.3em;
    color: #e9e9e9;
  }
  .aboutme-page .me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  .aboutme-page .me img {
    width: 25vw;
    border-radius: 12%;
  }
  .aboutme-page .me p {
    font-size: 2.4vw;
    letter-spacing: 0.05em;
    font-family: sans-serif;
    color: #c2c2c2;
  }
  .aboutme-page .about-softwares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutme-page .about-softwares h1 {
    font-family: Impact;
    font-size: 8vw;
    letter-spacing: 0.1em;
    color: #dddddd;
  }
  .aboutme-page .about-softwares .software-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutme-page .about-softwares .software-list p {
    font-family: sans-serif;
    font-size: 3vw;
    letter-spacing: 0.1em;
    color: #ebebeb;
  }
  .brief {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
  }
  .brief h1 {
    font-size: 5vw;
    letter-spacing: 0.04em;
    font-family: sans-serif;
    margin-left: 3%;
  }
  .brief h3 {
    font-size: 4vw;
    letter-spacing: 0.04em;
    line-height: 1.3em;
    margin-right: 5%;
    margin-left: 5%;
    color: #c9c9c9;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .brief h2 {
    font-size: 8vw;
    letter-spacing: 0.1em;
    font-family: impact;
    font-weight: bold;
    text-align: center;
    color: #dddddd;
  }
  .brief .methods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brief .methods p {
    font-family: sans-serif;
    font-size: 3vw;
    letter-spacing: 0.1em;
    color: #ebebeb;
  }
  .brief .line {
    width: 50vw;
    height: 0.05vh;
    background-color: #8d8d8d;
    margin-left: 25vw;
    margin-top: 10vh;
  }
  .hatfieldrm {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hatfieldrm h1 {
    text-align: center;
    font-size: 6vw;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100vw;
    color: white;
  }
  .hatfieldrm p {
    font-size: 3vw;
    letter-spacing: 0.05em;
    color: #cccccc;
  }
  .hatfieldrm .desktopview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hatfieldrm img {
    width: 95vw;
    border-radius: 20%;
  }
  .hrm {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hrm .rh-logo {
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hrm .rh-logo img {
    width: 30vw;
    border-radius: 0;
  }
  .hrm .style-text {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hrm .style-text h1 {
    font-family: Impact;
    font-size: 6vw;
    color: #414141;
  }
  .hrm .style-text h2 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    color: #818181;
  }
  .hrm .style-text p {
    font-family: sans-serif;
    font-size: 4vw;
    letter-spacing: 0.04em;
    line-height: 1.3em;
  }
  .analytics {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .analytics .display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .analytics .display h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 6vw;
    color: #4e4e4e;
    font-weight: 800;
  }
  .analytics .display h2 {
    font-family: sans-serif;
    text-transform: lowercase;
    font-size: 5vw;
    color: #414040;
  }
  .analytics .analysis {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .analytics .analysis .lightboxes {
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .analytics .analysis .lightboxes a {
    color: transparent;
  }
  .analytics .analysis .lightboxes a img {
    width: 20vw;
    margin: 2%;
    border-radius: 4%;
  }
  .analytics .analysis .lightboxes .lightbox {
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    position: absolute;
    z-index: -2;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  .analytics .analysis .lightboxes .lightbox.showLightbox {
    opacity: 1;
    z-index: 2;
  }
  .analytics .analysis .lightboxes .lightbox img {
    width: 75vw;
    margin-left: 7%;
    border-radius: 3%;
  }
  .analytics .analysis .lightboxes .lightbox a {
    background-color: transparent;
  }
  .analytics .analysis .info {
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .analytics .analysis .info p {
    font-family: sans-serif;
    font-size: 4vw;
    letter-spacing: 0.04em;
    line-height: 1.3em;
  }
  .process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
  }
  .process .col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
  }
  .process .col1 p {
    font-size: 4.2vw;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    font-family: sans-serif;
    width: 95vw;
    margin-right: 3%;
    margin-left: 3%;
    color: #e6e6e6;
  }
  .process .col1 img {
    width: 75vw;
    border-radius: 8%;
  }
  .process .layout {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .process .layout img {
    width: 75vw;
  }
  .preview-hatfieldrm {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .preview-hatfieldrm .text {
    width: 75vw;
  }
  .preview-hatfieldrm .text h1 {
    width: 75vw;
    margin-top: 5%;
    font-size: 6vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .preview-hatfieldrm .text h2 {
    width: 40vw;
    font-size: 3vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ececec;
  }
  .preview-hatfieldrm .viewport2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95vw;
  }
  .preview-hatfieldrm .viewport2 iframe {
    display: none;
  }
  .preview-hatfieldrm .viewport2 button {
    font-size: 3vw;
    color: white;
    background-color: rgba(139, 0, 0, 0.141);
    cursor: pointer;
    border: 1px solid maroon;
    padding: 10px;
    border-radius: 5%;
    margin-top: 5%;
  }
  .preview-hatfieldrm .used2 {
    text-align: center;
    margin-top: 15%;
  }
  .preview-hatfieldrm .used2 h1 {
    font-size: 4vw;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #d8d8d8;
    font-weight: 900;
  }
  .preview-hatfieldrm .used2 p {
    font-size: 2.2vw;
    letter-spacing: 0.05em;
    line-height: 1.8em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #dfdfdf;
  }
  .end {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .end h1 {
    text-align: center;
    font-size: 6vw;
    font-family: sans-serif;
    color: #747474;
  }
  .end p {
    text-align: left;
    font-size: 3vw;
    letter-spacing: 0.04em;
    line-height: 1.3em;
    font-family: sans-serif;
  }
  .footnote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-left: 5%;
  }
  .footnote h1 {
    font-size: 8vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: impact;
  }
  .footnote h2 {
    font-size: 3vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #d8d8d8;
  }
  .footnote p {
    font-size: 3vw;
    letter-spacing: 0.05em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #cacaca;
  }
  .footnote .link a {
    text-decoration: none;
    font-size: 5vw;
    font-family: sans-serif;
    letter-spacing: 0.05em;
    color: #b90000;
  }
  .footnote .position {
    width: 100vw;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footnote .position h3 {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.04em;
    color: #c4c4c4;
  }
  .footnote .stay-classy {
    width: 100vw;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footnote .stay-classy img {
    width: 30vw;
  }
}
/*# sourceMappingURL=mobile.css.map */