@media only screen and (max-width: 768px) {
    .cover {
        display:flex;
        height:100vh;
        width:100vw;
    
        .display {
            height: 100vh;
            display:flex;
            flex-direction:column;
            align-items: center;
            justify-content:center;
            width:85vw;
            
            h1 {
                font-family: timberline, sans-serif;
                font-weight: 400;
                font-style: normal;
                text-align: center;
                margin-top: 2em;
                font-size: 8vw;
                line-height: 1em;
                letter-spacing: .04em;
            }
    
            h2 {
                text-align:center;
                line-height:1em;
                font-size:5vw;
                letter-spacing:.03em;
                font-family: ff-meta-web-pro, sans-serif;
                font-weight: 400;
                font-style: normal;
            }
            h3 {
                text-align:left;
                line-height:3em;
                font-size:3vw;
                letter-spacing:.04em;
                font-family: ff-meta-correspondence-web-p, sans-serif;
                font-weight: 400;
                font-style: oblique;
            }
        }
        }
    .container {
        width:100vw;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    
        .platform-text {
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            width:85vw;
    
        h2 {
            font-family: 'M PLUS Rounded 1c', sans-serif;
            line-height:1.5em;
            text-align: left;
        }
    
        p {
            font-family: 'M PLUS Rounded 1c', sans-serif;
            line-height: 1.5em;
            color: rgb(230, 223, 223);
            text-align: left;
            
            strong {
                font-size:1.1em;
                font-weight: 600;
                color:white;
            }
        }
    }
    }
    .preview-platform {
            width:100vw;
            display:flex;
            justify-content: flex-end;
            flex-direction:column;
    
                .viewport {
                    display:flex;
                    flex-direction:column;
                    justify-content:flex-end;
                    align-items: flex-end;
                    width:95vw;
                }
    
                iframe {
                    width:46vw;
                    height:450px;
                    border-radius:3%;
                }
                button {
                    font-size:0.9em;
                    letter-spacing:0.1em;
                    color:white;
                    background-color: rgba(139, 0, 0, 0.141);
                    cursor: pointer;
                    border: 1.5px solid maroon;
                    padding: 15px;
                    border-radius: 5%;
                    margin-left: 50px;
                    margin-top:50px;
                }
                .used {
                    text-align:center;
    
                    h1 {
                        font-size:1.5em;
                        letter-spacing:0.1em;
                        font-family:'M PLUS Rounded 1c', sans-serif;
                        color:rgb(146, 146, 146);
                        font-weight:900;
                    }
                    p {
                        font-size:0.9em;
                        letter-spacing:0.08em;
                        font-family:'M PLUS Rounded 1c', sans-serif;
                        color:rgb(182, 182, 182);
                    }
                }
        }
    .angles {
        position:absolute;
        z-index:-1;
        width:100%;
    }
    .bg-bc {
        z-index:-1;
        width:100%;
        position:absolute;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
    .angles {
        top:90%;
        height:30%;
    }
    .autumn {
        z-index:-1;
        position:absolute;
        width: 100%;
        height: 90%;
        opacity:0.4;
    }
    .textbox-intro h3 span {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        color: rgb(214, 214, 214);
        font-style: oblique;
        font-weight: 700;
        font-size:1.1em;
        padding-right:50px;
        -webkit-animation: rotateWord 18s ease-in-out infinite 0s;
        -ms-animation: rotateWord 18s ease-in-out infinite 0s;
        animation: rotateWord 18s ease-in-out infinite 0s;
      }
    .textbox-intro h3 span:nth-child(2) {
        -webkit-animation-delay: 3s;
        -ms-animation-delay: 3s;
        animation-delay: 3s;
      }
      
      .textbox-intro h3 span:nth-child(3) {
        -webkit-animation-delay: 6s;
        -ms-animation-delay: 6s;
        animation-delay: 6s;
      }
      
      .textbox-intro h3 span:nth-child(4) {
        -webkit-animation-delay: 9s;
        -ms-animation-delay: 9s;
        animation-delay: 9s;
      }
      
      .textbox-intro h3 span:nth-child(5) {
        -webkit-animation-delay: 12s;
        -ms-animation-delay: 12s;
        animation-delay: 12s;
      }
    @-webkit-keyframes rotateWord {
        0% {
          opacity: 0;
        }
        2% {
          opacity: 0;
          -webkit-transform: translateY(-30px);
        }
        5% {
          opacity: 1;
          -webkit-transform: translateY(0px);
        }
        17% {
          opacity: 1;
          -webkit-transform: translateY(0px);
        }
        20% {
          opacity: 0;
          -webkit-transform: translateY(30px);
        }
        80% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      @-ms-keyframes rotateWord {
        0% {
          opacity: 0;
        }
        2% {
          opacity: 0;
          -ms-transform: translateY(-30px);
        }
        5% {
          opacity: 1;
          -ms-transform: translateY(0px);
        }
        17% {
          opacity: 1;
          -ms-transform: translateY(0px);
        }
        20% {
          opacity: 0;
          -ms-transform: translateY(30px);
        }
        80% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes rotateWord {
        0% {
          opacity: 0;
        }
        2% {
          opacity: 0;
          -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
        }
        5% {
          opacity: 1;
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
        }
        17% {
          opacity: 1;
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
        }
        20% {
          opacity: 0;
          -webkit-transform: translateY(30px);
          transform: translateY(30px);
        }
        80% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      .aboutme-page {
          width:100vw;
          display:flex;
          flex-direction:column;
          align-items: center;
          justify-content: center;
    
          .about-text {
              display:flex;
              flex-direction:column;
              width:85vw;
              justify-content: center;
              align-items: center;
    
              h1 {
                  font-family: Impact;
                  font-size:8vw;
                  letter-spacing:0.1em;
                  font-weight: bold;
              }
    
              h2 {
                  font-size:5vw;
                  letter-spacing:0.2em;
                  color:rgb(197, 197, 197);
                  font-family:'M PLUS Rounded 1c', sans-serif;
              }
    
              p {
                  font-size:4vw;
                  letter-spacing:0.05em;
                  line-height:2.5em;
                  margin-top:8%;
                  color:rgb(175, 175, 175);
              }
          }
    
          .about-softwares {
              display:flex;
              flex-direction:column;
              width:100vw;
              justify-content: center;
              align-items: center;
    
              h1 {
                font-family: Impact;
                font-size:8vw;
                letter-spacing:0.1em;
                font-weight: bold;
                color:rgb(27, 27, 27);
              }
              .software-list {
                  display:flex;
                  flex-direction:column;
                  width:100vw;
                  justify-content: center;
                  align-items:center;
    
                  p {
                      font-family: sans-serif;
                      font-size:3vw;
                      letter-spacing:0.1em;
                      color:rgb(94, 94, 94);
                  }
              }
          }
      }
      .hatfieldrm {
          width:100vw;
          display:flex;
          flex-direction:column;
          justify-content: center;
    
          h1 {
              text-align:center;
              font-size:3.3em;
              font-family:sans-serif;
              width:30vw;
              margin-top:4%;
              color:rgb(95, 95, 95);
          }
          .desktopview {
              display:flex;
              width:100vw;
              align-items:center;
              justify-content:center;
          }
            img {
              width:50vw;
              border-radius:20%;
          }
          .background-design{
              z-index:2;
              position:absolute;
              width:100vw;
              height:100vh;
              top:50%;
              left:38%;
              transform: translate(-50%, -50%);
    
              img {
                  width:120%;
              }
              }
          }
    .hrm {
            height:100vh;
            width:100vw;
            display:flex;
            flex-direction:row;
            margin-top:30%;
    
            .rh-logo {
                width:50vw;
                height:50vw;
                display:flex;
                align-items:center;
                justify-content: space-evenly;
                flex-direction:column;
    
              img {
                width:20vw;
                border-radius:0;
            }
          }
          .style-text {
              width:30vw;
              display:flex;
              flex-direction:column;
              align-items:flex-end;
    
              h1 {
                font-family: Impact;
                font-size:4em;
                letter-spacing:0.1em;
                font-weight: bold;
                color:rgb(27, 27, 27);
              }
              h2 {
                font-family: sans-serif;
                text-transform: uppercase;
                font-size:1em;
                line-height:0.6em;
                letter-spacing:0.5em;
                color:rgb(129, 129, 129);
              }
              p {
                  font-family:sans-serif;
                  font-size:0.9em;
                  letter-spacing:0.2em;
                  line-height:3em;
              }
          }
        }
    .analytics {
        width:100vw;
        height:75vh;
        display:flex;
        flex-flow: column;
        justify-content: center;
    
        .display{
            display:flex;
            flex-direction:column;
            align-items: center;
    
            h1 {
                font-family: sans-serif;
                text-transform: uppercase;
                font-size: 2em;
                letter-spacing:0.08em;
                color:rgb(78, 78, 78);
                font-weight: 800;
            }
            h2 {
                font-family: sans-serif;
                text-transform: lowercase;
                font-size: 1.5em;
                letter-spacing:0.08em;
                color:rgb(65, 64, 64);
            }
        }
        .analysis {
            width:100vw;
            display:flex;
            flex-direction:row;
            justify-content: space-evenly;
    
            .lightboxes {
                width:45vw;
        
                .lightbox {
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    background: rgba(0,0,0,0.8);
                    width:100vw;
                    height:100vh;
                    position:absolute;
                    top:0;
                    left:0;
                    z-index:-2;
                    opacity:0;
                    transition:opacity 1s;
                }
                .lightbox.showLightbox {
                    opacity:1;
                    z-index:2;
                }
                .lightbox img {
                    width:50vw;
                    height:auto;
                    border-radius:3%;
                }
                .lightbox a {
                    background-color:transparent;
                }
            
                img {
                    width:18vw;
                    margin:2%;
                    border-radius:4%;
                }
            }
            .info {
                width:45vw;
    
                p {
                    font-family:sans-serif;
                  font-size:1em;
                  letter-spacing:0.05em;
                  line-height:2em;
                }
            }
        }
        }
    .end {
        width:100vw;
        height:100vh;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    
        h1 {
            text-align:center;
            font-size:1.8em;
            font-family:sans-serif;
            letter-spacing:0.18em;
            color:rgb(116, 116, 116);
        }
    
        p {
            text-align:left;
            font-size:1.4em;
            font-family:sans-serif;
            letter-spacing:0.1em;
            line-height:1.8em;
        }
    }
    }