@media only screen and (max-width: 768px) {
  .cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  .cover .display {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85vw;
  }
  .cover .display h1 {
    font-family: timberline, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 2em;
    font-size: 8vw;
    line-height: 1em;
    letter-spacing: .04em;
  }
  .cover .display h2 {
    text-align: center;
    line-height: 1em;
    font-size: 5vw;
    letter-spacing: .03em;
    font-family: ff-meta-web-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .cover .display h3 {
    text-align: left;
    line-height: 3em;
    font-size: 3vw;
    letter-spacing: .04em;
    font-family: ff-meta-correspondence-web-p, sans-serif;
    font-weight: 400;
    font-style: oblique;
  }
  .container {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .platform-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85vw;
  }
  .container .platform-text h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.5em;
    text-align: left;
  }
  .container .platform-text p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.5em;
    color: #e6dfdf;
    text-align: left;
  }
  .container .platform-text p strong {
    font-size: 1.1em;
    font-weight: 600;
    color: white;
  }
  .preview-platform {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .preview-platform .viewport {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 95vw;
  }
  .preview-platform iframe {
    width: 46vw;
    height: 450px;
    border-radius: 3%;
  }
  .preview-platform button {
    font-size: 0.9em;
    letter-spacing: 0.1em;
    color: white;
    background-color: rgba(139, 0, 0, 0.141);
    cursor: pointer;
    border: 1.5px solid maroon;
    padding: 15px;
    border-radius: 5%;
    margin-left: 50px;
    margin-top: 50px;
  }
  .preview-platform .used {
    text-align: center;
  }
  .preview-platform .used h1 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #929292;
    font-weight: 900;
  }
  .preview-platform .used p {
    font-size: 0.9em;
    letter-spacing: 0.08em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #b6b6b6;
  }
  .angles {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .bg-bc {
    z-index: -1;
    width: 100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .angles {
    top: 90%;
    height: 30%;
  }
  .autumn {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 90%;
    opacity: 0.4;
  }
  .textbox-intro h3 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #d6d6d6;
    font-style: oblique;
    font-weight: 700;
    font-size: 1.1em;
    padding-right: 50px;
    -webkit-animation: rotateWord 18s ease-in-out infinite 0s;
    animation: rotateWord 18s ease-in-out infinite 0s;
  }
  .textbox-intro h3 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  .textbox-intro h3 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
  }
  .textbox-intro h3 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
  }
  .textbox-intro h3 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
  }
  @-webkit-keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .aboutme-page {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutme-page .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutme-page .about-text h1 {
    font-family: Impact;
    font-size: 8vw;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  .aboutme-page .about-text h2 {
    font-size: 5vw;
    letter-spacing: 0.2em;
    color: #c5c5c5;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .aboutme-page .about-text p {
    font-size: 4vw;
    letter-spacing: 0.05em;
    line-height: 2.5em;
    margin-top: 8%;
    color: #afafaf;
  }
  .aboutme-page .about-softwares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutme-page .about-softwares h1 {
    font-family: Impact;
    font-size: 8vw;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #1b1b1b;
  }
  .aboutme-page .about-softwares .software-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutme-page .about-softwares .software-list p {
    font-family: sans-serif;
    font-size: 3vw;
    letter-spacing: 0.1em;
    color: #5e5e5e;
  }
  .hatfieldrm {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hatfieldrm h1 {
    text-align: center;
    font-size: 3.3em;
    font-family: sans-serif;
    width: 30vw;
    margin-top: 4%;
    color: #5f5f5f;
  }
  .hatfieldrm .desktopview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hatfieldrm img {
    width: 50vw;
    border-radius: 20%;
  }
  .hatfieldrm .background-design {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 38%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hatfieldrm .background-design img {
    width: 120%;
  }
  .hrm {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30%;
  }
  .hrm .rh-logo {
    width: 50vw;
    height: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hrm .rh-logo img {
    width: 20vw;
    border-radius: 0;
  }
  .hrm .style-text {
    width: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hrm .style-text h1 {
    font-family: Impact;
    font-size: 4em;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #1b1b1b;
  }
  .hrm .style-text h2 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 0.6em;
    letter-spacing: 0.5em;
    color: #818181;
  }
  .hrm .style-text p {
    font-family: sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    line-height: 3em;
  }
  .analytics {
    width: 100vw;
    height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .analytics .display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .analytics .display h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.08em;
    color: #4e4e4e;
    font-weight: 800;
  }
  .analytics .display h2 {
    font-family: sans-serif;
    text-transform: lowercase;
    font-size: 1.5em;
    letter-spacing: 0.08em;
    color: #414040;
  }
  .analytics .analysis {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .analytics .analysis .lightboxes {
    width: 45vw;
  }
  .analytics .analysis .lightboxes .lightbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  .analytics .analysis .lightboxes .lightbox.showLightbox {
    opacity: 1;
    z-index: 2;
  }
  .analytics .analysis .lightboxes .lightbox img {
    width: 50vw;
    height: auto;
    border-radius: 3%;
  }
  .analytics .analysis .lightboxes .lightbox a {
    background-color: transparent;
  }
  .analytics .analysis .lightboxes img {
    width: 18vw;
    margin: 2%;
    border-radius: 4%;
  }
  .analytics .analysis .info {
    width: 45vw;
  }
  .analytics .analysis .info p {
    font-family: sans-serif;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 2em;
  }
  .end {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .end h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: sans-serif;
    letter-spacing: 0.18em;
    color: #747474;
  }
  .end p {
    text-align: left;
    font-size: 1.4em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.8em;
  }
}
/*# sourceMappingURL=mobile.css.map */